*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Akaya Kanadaka', cursive;
}

.Name {
	color: royalblue;
	text-align: center;
	font-weight: bold;
	text-transform: capitalize;
	margin: 70px 0px;
}

.images img{
	width: 400 px;
	height: 200 px;
}

.images {
	display: flex;
	justify-content: center;
}